.App {
  text-align: center;
}

.App-header a:link,
.App-header a:visited,
.App-header a:hover,
.App-header a:active
{
  text-decoration: none;
  color: inherit;
}

.App-title {
  font-size: 1.5em;
  display: inline-block;
}

.App-intro {
  font-size: large;
}

.moviePoster {
  height: 150px;
  width: 100px;
}

.center-me {
  margin: 0 auto;
}

.storylineColumn {
  width: 250px;
}

.rate {
  width: 100%;
}

.ratingContainer {
  width: 10%;
}

.commentInput {
  flex: 1;
}

.loginout {
  margin-left: auto;
}

.center {
  margin:auto;
}

.commentAuthor {
  margin-left: auto;
}

.commentForm,
.details,
.commentcard,
.movieintro,
.genresAndActors {
  flex-direction: row;
  display: flex;
}

.verticalCenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
