.App {
  text-align: center;
}

.App-header a:link,
.App-header a:visited,
.App-header a:hover,
.App-header a:active
{
  text-decoration: none;
  color: inherit;
}

.App-title {
  font-size: 1.5em;
  display: inline-block;
}

.App-intro {
  font-size: large;
}

.moviePoster {
  height: 150px;
  width: 100px;
}

.center-me {
  margin: 0 auto;
}

.storylineColumn {
  width: 250px;
}

.commentSection {
}

.rate {
  width: 100%;
}

.ratingContainer {
  width: 10%;
}

.commentForm {
  float:left;
  width: 100%;
}

.loginout {
  margin-left: auto;
}

.center {
  margin:auto;
}

.movieinfo {
}

.moviecard {
  display: flex;
  flex-direction: row;
}

.commentcard {
  display: flex;
  flex-direction: row;
}

.commentAuthor {
  margin-left: auto;
}

.details,
.genresAndActors {
  flex-direction: row;
  display: flex;
}

.verticalCenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
